a {
  text-decoration: none;
}

li {
  display: block;
}

article {
  /* creo que esto del ancho debería estar en ProducList, no en Product */
  max-width: 350px;
  margin: 0 auto;
}

.product-list-wrapper {
}

.product-wrapper {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}
